<div class="block {{ modifier_class }}">

<div class="block block__title {{ modifier_class }}">Title</div>

<div class="block block__content {{ modifier_class }}">
Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. 
</div>

</div>
