<div class="header">

<div class="header__logo"></div>

<div class="header__nav">
  <ul class="header__nav-menu">
  <li class="header__nav-menu-item">
  <a class="header__nav-menu-link" herf="#">Solutions</a></li>

  <li class="header__nav-menu-item">
  <a class="header__nav-menu-link" herf="#">About us</a></li>

  <li class="header__nav-menu-item">
  <a class="header__nav-menu-link" herf="#">Contact</a></li></ul>
</div>


  <div class="header__search kss-search">
    <label for="header__nav kss-search" style="display: none;">Search this site...</label>
    <input id="header__nav kss-search" type="text" placeholder="Search this site..." autocomplete="off" />
    <input type="image" class="header__search-button">
  </div>
  
</div>

<div class="content">

<div class="content__headline">
<h1 class="content__headline-text">Australia’s premium Drupal strategy, design & development experts</h1>
</div>

<div class="content__row">
<div class="content__row-block block">
<h2 class="content__row-block__title block block__title">Solutions</h2>
<p class="content__row-block__content block block__content">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. </p>
  <button class="content__row-block-button button button--secondary--small"><strong>Solutions</strong></button>
</div>

<div class="content__row-block block">
<h2 class="content__row-block__title block block__title">About us</h2>
<p class="content__row-block__content block block__content">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. </p>
  <button class="content__row-block-button button button--secondary--small"><strong>About us</strong></button>
</div>

</div>

<div class="content__row">
<div class="content__row-block block block--hybird approach">
<h2 class="content__row-block__title block block--hybird block__title">Our Approach</h2>
<p class="content__row-block__content block block--hybird block__content">Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
</div>

<div class="content__row-block block block--secondary contact">
<h2 class="content__row-block__title block block--secondary block__title">Contact</h2>
<p class="content__row-block__content block block--secondary block__content">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. </p>
  <button class="content__row-block-button button button--secondary--small"><strong>Contact us</strong></button>
</div>
</div>

<div class="content__row">
  <div class="content__row-block block approach">
<h2 class="content__row-block__title block block__title">Drupal Strategy</h2>
</div>

<div class="content__row"></div>
  <div class="content__row-block block approach">
<h2 class="content__row-block__title block block__title">Styleguide driven development</h2>
</div>